.profile-page-top {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: solid 2px orange;
}

.profile-image {
    border-radius: 50%;
    max-width: 75%;
}

.profile-buddies {
    align-self: center;
    border: solid 2px pink;
    padding: 2px;
}

.buddy-images {
    display: flex;
    border: solid 2px green;
}

.buddy-image {
    border-radius: 50%;
    padding: 5px;
}

.see-more-text {
    align-self: flex-end;
}

.profile-page-bottom {
    display: flex;
    justify-content: space-around;
}

.bio-container {
    max-width: 500px;
}

.mygig-image {
    z-index: 1;
} 

.gig-friend-image-group {
    position: relative;
    bottom: 40px;
    z-index: 2;
}

.gig-friend-image {
    border-radius: 50%;
    margin-right: 3px;
}