@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.bg-image {
    background-image: url(./images/bg-image-logorsign.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.content-flex {
    display: flex;
    justify-content: space-between;
}

.gigbuddy-logorsign-title {
    text-align: center;
    color: rgba(34, 34, 34, 0.905);
    font-size: 5em;
    padding: 10px;
}

.form-container{
    display: flex;
    flex-direction: column;
    row-gap: 12em;
    height: 100vh;
    background: #ffffff8b;
    padding: 45px 180px 0 180px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

/* .login-form input {
    min-width: 400px;
    padding: 0 10px;
} */

.logorsign-input { 
    margin: 5px;
    min-width: 400px;
    font-family: "Roboto";
    border-radius: 5px;
    height: auto;
    background-color: #f2f2f2;
    border: none;
    padding: 10px 30px;
    width: 50%;
}

.signlog-icons {
    position: relative;
    right: 185px;
    top: 30px;
}

.find-buddy-text {
    font-size: 2em;
    text-align: center;
}


.form-btn { 
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color: #328f8a;
    background: linear-gradient(45deg,#3c546b,#4174cd);
    width: 50%;
    border: none;
    border-radius: 5px;
    margin: 5px 0 0 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.small-text {
    font-size: 1.4em;
    margin-top: 200px;
}

.description-container {
    max-width: 50%;
    color: #f2f2f2;
    height: 100%;
    margin: auto 0;
}


.bottom-container-right {
    color: #f2f2f2;
    background-color: rgba(34, 34, 34, 0.564);
}

.page-description {
    font-size: 4em;
    margin-bottom: 41px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}