@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.bg-image {
    background-image: url(./images/bg-image-logorsign.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    max-width: 1600px;
min-height: 750px;



    
}

.content-flex {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.gigbuddy-logorsign-title {
    text-align: center;
    color: rgba(34, 34, 34, 0.905);
    font-size: 5em;
    padding: 10px;
}

.form-container{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    height: 100%;
    background: #0f93e067;
    padding: 45px 180px 0 180px;
    box-shadow: 0 0 20px 0 rgba(84, 143, 214, 0.422), 0 3px 3px 0 rgba(57, 104, 206, 0.24);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.logorsign-input { 
    margin: 5px;
    min-width: 250px;
    font-family: "Roboto";
    border-radius: 5px;
    height: auto;
    background-color: #f2f2f2;
    border: none;
    padding: 10px 30px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.signlog-icons {
    position: relative;
    right: 110px;
    top: 25px;
}

.find-buddy-text {
    font-size: 2em;
    text-align: center;
}


.form-btn { 
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color: #328f8a;
    background: linear-gradient(45deg,#3c546b,#4174cd);
    width: 250px;
    border: none;
    border-radius: 5px;
    margin: 5px 0 0 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.form-btn {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  border: 0px;
  font-weight: 40;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(144deg,#292c5e, #5B42F3 50%,#00DDEB);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.form-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.small-text {
    font-size: 16px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}




.bottom-container-right {
    color: #f2f2f2;
    background-color: rgba(34, 34, 34, 0.564);
}

.page-description {
    font-size: 4em;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  
    color: #f2f2f2;
    height: 100%;
    padding: 170px;
    text-align: center;
   
}

.text{
    font-family: 'Roboto', sans-serif;
}
