* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-container{

display: flex;
min-width: 400px;
align-items: center;
justify-content:center;
flex-direction: column;

}

.dropdown-row{
    
    max-width: 500px;
display: flex;
flex-direction: row;
justify-content:flex-start;
background-color: antiquewhite;
border-bottom: grey solid 1px;

}
.dropdown{
    transform: scale(0.8);
    position: absolute;
    left:720px;
    top:80px;
    opacity: 0.7;

}
.dropdown-row:hover{
    transform: scale(1.05);
}
.dropdown-logo{
    height: 50px;
}

.dropdown-text-flex{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}

.dropdown-title{
    font-size: 16px;
}