@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-container{

display: flex;
min-width: 500px;
align-items: center;
justify-content:center;
/* flex-direction: column; */

}

.search-input {
    min-width: 400px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 0;
}

.dropdown-row{
    min-width: 550px;
    max-width: 500px;
display: flex;
flex-direction: row;
justify-content:flex-start;
background-color: antiquewhite;
border-bottom: grey solid 1px;
z-index: 2;

}
.dropdown{
 
    position: absolute;
    left:720px;
    top:75px;
    z-index: 2;


}
.dropdown-row:hover{
    transform: scale(1.05);
    transition:  0.4s;
}
.dropdown-logo{
    height: 50px;
}

.dropdown-text-flex{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 15px;
    
}

.dropdown-title{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}