@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

*,
::before,
::after,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'League Gothic', sans-serif;
  background-image: url("./crowd.jpg");
  background-position: center;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
